.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none;
  }
  .a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
  }
  .a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }
  
  .a:last-child {
    margin-right: 0;
  }
  .header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  .header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
  }